{% extends "base.html" %}

{% block title %}-登录{% endblock %}
{% block content %}
<h1>学堂讨论区</h1>
    <h2>
        <p>在这里有来自全校不同专业不同年级的同学</p>
        <p>欢迎在这里畅所欲言</p>
        <p>仍在开发，敬请期待</p>
    </h2>

    <ul>
{% for post in posts %}
    <li>
        <div>题目：{{ post.P_Title }}</div>
        <div>内容：{{ post.P_Content}}</div>
        <div>头像：{{ post.P_User.U_Image}}</div>
        <div>昵称：{{ post.P_User.U_name}}</div>
        <div>称号：邯郸学步</div>

        {% if post.P_Type == 0 %}
            <div>类别：普通贴（代号：{{ post.P_Type}}）</div>
        {% elif post.P_Type == 1%}
            <div>类别：提问贴（代号：{{ post.P_Type}}）</div>
        {% elif post.P_Type == 2%}
            <div>类别：笔记贴（代号：{{ post.P_Type}}）</div>
        {% endif %}

        <div>点赞数：{{ post.P_LikeNum}}</div>
        <button><a href="www.baidu.com">详情</a></button>
    </li>
{% empty %}
    <li>抱歉，目前还没有帖子。</li>
{% endfor %}
</ul>
{% endblock %}