.fatie {
    height: 35px;
    position:absolute;
    background-color: #1976D2;
    color: #FAFAFA;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 1.3em;
    padding: 9px 18px;
    transition: background-color .18s cubic-bezier(0.6,0,.1,1),box-shadow .18s cubic-bezier(0.6,0,.1,1);
    user-select: none;
    margin: 0px;
    cursor: pointer;
    right: 200px;
}

.fatie:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.42);
}

a:hover,a:focus{
    color: #FAFAFA;
    text-decoration: none;
}