{% extends "base.html" %}

{%block css%} <link rel="stylesheet" href="{{BASE_DIR}}/static/button.css" /> 
<link rel="stylesheet" href="{{BASE_DIR}}/static/list.css" />{% endblock %}

{% block sub-title %}
<h2>{{ course.C_Name }}课程讨论区</h2>
<a class="fatie" href="/post/{{ course.id }}">发帖</a>

{% endblock %}

{% block title %}学堂Plus{% endblock %}
{% block content %}



<li class="list">
<h3>帖子列表</h3>
<ol>
{% for post in posts %}
    <li>
        <div class="icon" title="No unread posts"><div></div></div>
        <div class="dis">
            <div class="inner">
            <a href="/course/{{ course.id }}/post/{{ post.id }}">{{ post.P_Title }}</a>
            <div class="name">
                {% if post.P_Type == 2%}
                    {% if post.P_Level == 2%}
                        (UR笔记)
                    {% endif %}
                    {% if post.P_Level == 1%}
                        (SR笔记)
                    {% endif %}
                    {% if post.P_Level == 0%}
                        (R笔记)
                    {% endif %}
                {% endif %}
            </div>
            
        </div>
        </div>
        <div class="stat">
            {% if post.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif post.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif post.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
            {% if post.P_Type == 1%}
                <div class="cat info">悬赏：{{ post.P_Wanted }}</div>
            {% endif %}
            <div class="good info">点赞数：{{ post.P_LikeNum}}</div>
        </div>
        <div class="info1">
            <span><img class="image" src="{{BASE_DIR}}/media/{{post.P_User.U_Image}}" width="30" height="30" /></span>
            <span>
            <div class="info">昵称：{{ post.P_User.U_name}}</div>
            <div class="info">称号：{{ post.P_User.U_Honor}}</div>
            </span>
        </div>
        {% if post.P_User == user%}
            <button id="{{ post.id }}" class="button2" data-toggle="modal" data-target="#myModal" onclick="javascript:deletepost(this)">删除</button>
        {% endif %}
    </li>
{% empty %}
    <li>抱歉，目前还没有帖子。</li>
{% endfor %}
    </ol>
    </li>

    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               确认
            </h4>
         </div>
         <div class="modal-body">

              删除

         </div>
         <div class="modal-footer">

             <a id="deleteid" href="/">确认删除</a>
            <button type="button" class="btn btn-default"
               data-dismiss="modal">取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

    <script type="text/javascript">

    function deletepost(obj){
        idstr = obj.id
        deletedom = document.getElementById("deleteid")
        cid = {{ course.id }}
        restr = "/course/"+cid+"/delete_post/"+idstr+"/"
        deletedom.setAttribute("href",restr)
    }

    $(function () {
        {% for post in posts  %}
            var s = '{{ post.P_Content|safe }}'
            p = s.match(/__url_start__(\S*?)__url_end__/)
            while (!(p === null)) {
                s = s.replace(p[0], "<img src='{{BASE_DIR}}/media/" + p[1] + "' />")
                p = s.match(/__url_start__(\S*?)__url_end__/)
            }
        $('#content_{{ post.id }}').html(s)
        {% endfor %}
    });
    </script>
{% endblock %}