{% extends "base.html" %}

{% block title %}学堂Plus{% endblock %}
{% block content %}

    <h1>{{ course.C_Name }}课程讨论区</h1>
    {% if hasnotes == 1 %}
        <h1>
            <span><a href="/course/{{ course.id }}/drawing/0/">抽一发</a></span>
            <span><a href="/course/{{ course.id }}/drawing/1/">抽十发</a></span>
            <span><a href="/course/{{ course.id }}/drawing/2/">强力抽卡</a></span>
        </h1>
    {% endif %}
<ul>

{% for post in posts %}
    <div class="container">
    <div class="row">
        <div class="col-xs-4 item">
            <div>
            <img class="image" src="{{BASE_DIR}}/media/{{post.P_User.U_Image}}"/>
            </div>
            <div class="info">昵称：{{ post.P_User.U_name}}</div>
            <div class="info">称号：{{ post.P_User.U_Honor}}</div>
        </div>
        <div class="col-xs-8 item">
            <div class="name">
                {{ post.P_Title }}
                {% if post.P_Type == 2%}
                    {% if post.P_Level == 2%}
                        (UR笔记)
                    {% endif %}
                    {% if post.P_Level == 1%}
                        (SR笔记)
                    {% endif %}
                    {% if post.P_Level == 0%}
                        (R笔记)
                    {% endif %}
                {% endif %}
            </div>
            <div class="content">{{ post.P_Content}}</div>
            {% if post.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif post.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif post.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
            {% if post.P_Type == 1%}
                <div class="cat info">悬赏：{{ post.P_Wanted }}</div>
            {% endif %}
            <div class="good info">点赞数：{{ post.P_LikeNum}}</div>
            <div class="pull-right">
            <a href="/course/{{ course.id }}/post/{{ post.id }}">详情</a>
                {% if post.P_User == user%}
                <button id="{{ post.id }}" class="save-btn-default btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="javascript:deletepost(this)">删除</button>
                {% endif %}
            </div>
        </div>
    </div>
     </div>
{% empty %}
    <li>抱歉，目前还没有帖子。</li>
{% endfor %}


</ul>
<a class="fatie" href="/post/{{ course.id }}"><img src="{{BASE_DIR}}/static/123.png" width="100px" height="100px"></a>


    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               确认
            </h4>
         </div>
         <div class="modal-body">

              删除

         </div>
         <div class="modal-footer">

             <a id="deleteid" href="/">确认删除</a>
            <button type="button" class="btn btn-default"
               data-dismiss="modal">取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

    <script type="text/javascript">

    function deletepost(obj){
        idstr = obj.id
        deletedom = document.getElementById("deleteid")
        cid = {{ course.id }}
        restr = "/course/"+cid+"/delete_post/"+idstr+"/"
        deletedom.setAttribute("href",restr)
    }
    </script>
{% endblock %}