<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>抽卡！</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    {% if modeid == "0" %}
    <link rel="stylesheet" href="{{BASE_DIR}}/static/drawing.css" />
    {% elif modeid == "1" %}
    <link rel="stylesheet" href="{{BASE_DIR}}/static/drawing10.css" />
    {% elif modeid == "2" %}
    <link rel="stylesheet" href="{{BASE_DIR}}/static/drawingUS.css" />
    {% endif %}

</head>

<body>
{% if iserror %}
    <h1>{{ error }}</h1>
{% else %}
  <div class="drcontainer">
  <div style="text-align:center;clear:both">

</div>
  <div class="drfolder">
   <div class="drpaper">
       <h1>{{ course.C_Name }}</h1>
       <h1>抽取笔记！</h1>
    </div>
    <div class="drcover">
        {% if modeid == "0" %}
         <div class="drtitle">普通笔记补给</div>
        {% elif modeid == "1" %}
         <div class="drtitle">十连笔记补给</div>
        {% elif modeid == "2" %}
         <div class="drtitle">金笔记补给</div>
        {% endif %}

    </div>
  </div>
</div>

{% endif %}


  <script>
      $(document).on('click', '.drfolder', function() {
        $(this).toggleClass('opened');
          cid = {{ course.id }}
          mid = {{ modeid }}
          if(mid == "0") {restr="/course/"+cid+"/result/"}
          else if(mid == "1") {restr="/course/"+cid+"/result10/"}
          else if(mid == "2") {restr="/course/"+cid+"/resultgood/"}
          window.location.href=restr
    });
  </script>

</body>

</html>