{% extends "base.html" %}

{% block title %}登录{% endblock %}

{%block css%} <link rel="stylesheet" href="{{BASE_DIR}}/static/login.css" /> {% endblock %}

{% block sub-title %}
<h2>用户登录</h2>
{% endblock %}

{% block content %}
    <div class="form">
        <div class="register">
            {% if error %}
                <div class="mention" role="alert">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            <form class="" action="/login/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="stid">
                    <dd>
                    <span for="id_studentid">学号:</span>
                    </dd>
                    <dt>
                    <input type="text" placeholder="请填写学号" id="id_studentid" maxlength="11" name="studentid" value="{{ studentid }}">
                    </dt>
                </div>

                <div class="pass">
                    <dd>
                    <span for="id_password">密码:</span>
                    </dd>
                    <dt>
                    <input type="password" placeholder="请填写密码" id="id_password" name="password">
                    </dt>
                </div>

                <button type="submit" class="button1" value="登录">登录</button>
            </form>
        </div>
    </div>

{% endblock %}
