{% extends "base.html" %}

{% block title %}-登录{% endblock %}

{% block content %}
    <div class="form">
        <div class="register panel panel-default ">
            <h2>用户登录</h2>
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{ error }}
                </div>
            {% endif %}
            <form class="form-base" action="/login/" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form_row">
                    <label for="id_studentid">学号:</label>
                    <input type="text" class="form-control" placeholder="请填写手机号" id="id_studentid" maxlength="11" name="studentid" value="{{ studentid }}">
                </div>

                <div class="form_row">
                    <label for="id_password">密码:</label>
                    <input type="password" class="form-control" placeholder="不少于8个字符" id="id_password" name="password">
                </div>

                <input type="submit" class="btn btn-success form_button" value="登录">
            </form>
        </div>
    </div>

{% endblock %}
