{% extends "base.html" %}

{%block css%} <link rel="stylesheet" href="{{BASE_DIR}}/static/postpost.css" />
<link rel="stylesheet" href="{{BASE_DIR}}/static/postpostplus.css" /> {% endblock %}

{% block sub-title %}
<h2>添加帖子</h2>
{% endblock %}


{% block title %}学堂Plus{% endblock %}
{% block content %}

    <div class="form">
    <div class="outbox ">
        {% if error %}
            <div class="mention" role="alert">
                    <p>{{ error }}</p>
            </div>
        {% endif %}
        <form class="form-base" id="newform" action="/post/{{ course.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="messagebox">
                <input type="text" id="id_title" placeholder="Title" name="P_Title" value="{{ P_Title }}">

                <textarea class="input" id="id_content" type="text" placeholder="Content" name="P_Content" value="{{ P_Content }}"></textarea>

            </div>

            <input id="happyBtn0" class="button1" value="作为普通贴发帖" onclick="javascript:normalpost(this)">
            <input id="happyBtn1" class="button1" value="作为提问贴发帖" data-toggle="modal" data-target="#myModal">
            <label class="button2" for="fileImage">上传图片</label>
            <input id="fileImage" type="file" style="position:absolute;clip:rect(0 0 0 0);"/>
            <button class="button2"><a href="/course/{{ course.id }}/">返回</a></button>
        </form>
    </div>
    </div>


    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               悬赏GP币
            </h4>
         </div>
         <div class="modal-body">

              请您填写提问贴的悬赏GP币值

         </div>
          <div class="modal-body">

              <input id="wantedin" type="text" class="form-control" placeholder="0" name="wantedval" value="20">

         </div>
         <div class="modal-footer">
             <button id="wantedbtn" onclick="javascript:submitform(this)">
                 确认
             </button>

            <button type="button" class="btn btn-default"
               data-dismiss="modal">取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

    <script type="text/javascript">

    function submitform(obj){
        pTitle = document.getElementById('id_title').value
        pContent = document.getElementById('id_content').value
        pwanted = document.getElementById('wantedin').value
        coustr = {{ course.id }}
        hisgpb = {{ user.U_GPB }}
        if(hisgpb < pwanted)
        {
            alert("GP币不够啦！！")
            return
        }
        $.ajax
        ({
            url: "/post/"+coustr+"/",
            type: 'POST',
            data: {'Realtype': 1,'P_Title':pTitle,'P_Content':pContent,'wantedval':pwanted}
        })
        window.location.href="/course/"+coustr+"/"
    }

    function normalpost() {
        pTitle = document.getElementById('id_title').value
        pContent = document.getElementById('id_content').value
        coustr = {{ course.id }}
        $.ajax
        ({
            url: "/post/"+coustr+"/",
            type: 'POST',
            data: {'Realtype': 0,'P_Title':pTitle,'P_Content':pContent,'wantedval':0}
        })
        window.location.href="/course/"+coustr+"/"
    }

    $(function () {
        $('#fileImage').bind("change", function() {
            if ($(this).prop('files')[0].type.indexOf("image") <= -1) {
                alert("请选择图片！");
                return;
            }
            var formdata = new FormData()
            formdata.append("file",$(this).prop('files')[0])
            console.log($(this).prop('files')[0]);
            $.ajax({
                url: "/ajax_append_image/",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function(data, textStatus) {
                    $("#id_content").val($("#id_content").val() + "__url_start__" + data + "__url_end__")
                    alert("上传成功")
                }
            });
        })
    });
    </script>

{% endblock %}