{% extends "base.html" %}

{% block title %}学堂Plus{% endblock %}
{% block content %}

    <div class="form">
    <div class="register panel panel-default ">
        <h2>添加帖子</h2>
        {% if error %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ error }}
            </div>
        {% endif %}
        <form class="form-base" id="newform" action="/post/{{ course.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form_row">
                <label for="id_title">题目:</label>
                <input id="id_title" type="text" class="form-control" placeholder="Title" name="P_Title" value="">
            </div>

            <div class="form_row">
                <label for="id_content">内容:</label>
                <input id="id_content" type="text" class="form-control" placeholder="Content" name="P_Content" value="">
            </div>

            <input id="happyBtn0" class="btn btn-success form_button" value="作为普通贴发帖" onclick="javascript:normalpost(this)">
            <input id="happyBtn1" class="btn btn-success form_button" value="作为提问贴发帖" data-toggle="modal" data-target="#myModal">
        </form>
        <div class="form_row">
            <label><a href="/course/{{ course.id }}/">返回</a></label>
        </div>
    </div>
    </div>


    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               悬赏GP币
            </h4>
         </div>
         <div class="modal-body">

              请您填写提问贴的悬赏GP币值

         </div>
          <div class="modal-body">

              <input id="wantedin" type="text" class="form-control" placeholder="0" name="wantedval" value="20">

         </div>
         <div class="modal-footer">
             <button id="wantedbtn" onclick="javascript:submitform(this)">
                 确认
             </button>

            <button type="button" class="btn btn-default"
               data-dismiss="modal">取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

    <script type="text/javascript">

    function submitform(obj){
        pTitle = document.getElementById('id_title').value
        pContent = document.getElementById('id_content').value
        pwanted = document.getElementById('wantedin').value
        coustr = {{ course.id }}
        hisgpb = {{ user.U_GPB }}
        if(hisgpb < pwanted)
        {
            alert("GP币不够啦！！")
            return
        }
        $.ajax
        ({
            url: "/post/"+coustr+"/",
            type: 'POST',
            data: {'Realtype': 1,'P_Title':pTitle,'P_Content':pContent,'wantedval':pwanted}
        })
        window.location.href="/course/"+coustr+"/"
    }

    function normalpost() {
        pTitle = document.getElementById('id_title').value
        pContent = document.getElementById('id_content').value
        coustr = {{ course.id }}
        $.ajax
        ({
            url: "/post/"+coustr+"/",
            type: 'POST',
            data: {'Realtype': 0,'P_Title':pTitle,'P_Content':pContent,'wantedval':0}
        })
        window.location.href="/course/"+coustr+"/"
    }


    </script>

{% endblock %}