{% extends "base.html" %}

{%block css%}

<link rel="stylesheet" href="{{BASE_DIR}}/static/list.css" />  {% endblock %}
{% block sub-title %}
<h2>{{ info }}</h2>
{% endblock %}

{%block js%}
<script type="text/javascript">
var array=new Array("post","notice","complaint","chat","science","engineer","pe","politics","culture","english","otherlan","freeselection")
</script>



{%endblock%}

{% block title %}学堂Plus{% endblock %}
{% block content %}
<li class="list">
<h3>帖子列表</h3>
<ol>
{% for post in posts %}
    <li>
        <div class="icon" title="No unread posts"><div></div></div>
        <div class="dis">
            <div class="inner">
                {% if post.P_Type <= 3 %}
            <a href="/course/{{ post.P_Course.id }}/post/{{ post.id }}/">{{post.P_Title}}</a>
                {% else %}
            <a href="/xpostdetail/{{ post.id }}/"+array[{{post.P_Section}}+1]>详情</a>
                {% endif %}
        </div>
        </div>
        <div class="stat">
            {% if post.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif post.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif post.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
                <div class="good info">点赞数：{{ post.P_LikeNum}}</div>
        </div>
        <div class="info1">
            <span><img class="image" src="{{BASE_DIR}}/media/{{post.P_User.U_Image}}" width="30" height="30" /></span>
            <span>
            <div class="info">昵称：{{ post.P_User.U_name}}</div>
            <div class="info">称号：{{ post.P_User.U_Honor}}</div>
            </span>
        </div>
    </li>
{% empty %}
    <li>抱歉，目前还没有找到帖子。</li>
{% endfor %}
    </ol>
    </li>


{% endblock %}