{% extends "base.html" %}

{%block css%}
<link rel="stylesheet" href="{{BASE_DIR}}/static/user.css" />{% endblock %}
{% block sub-title %}
<h2>{{ user.U_RealName }}您的信息</h2>
{% endblock %}


{% block title %}学堂Plus{% endblock %}
{% block content %}

    <li class="sss">
      <div class="info">
        <div>
        <img src="{{ BASE_DIR }}/media/{{ user.U_Image }}" width="200px" height="200px" />
        </div>
        {% if request.user == user.user %}
            <label class="button2" for="changeImage">上传头像</label>
            <input id="changeImage" name="U_Image" type="file" style="position:absolute;clip:rect(0 0 0 0);"/>
        {% endif %}
        {% if request.user == user.user %}
        <div class="na">
            昵称
            <input id="changeNick" type="text" value="{{ user.U_name }}"/>
            <input class="button2"id="saveNick" type="button" value="修改昵称"/>
        </div>
        {% else %}
            <div>昵称：{{ user.U_name }}</div>
        {% endif %}
      </div>
      <div class="xinxi">
        <div class="xinxizixiang">真名：{{ user.U_RealName }}</div>
        <div class="xinxizixiang">院系：{{ user.U_Major }}</div>
        <div class="xinxizixiang">等级：{{ user.U_Level}}</div>
        <div class="xinxizixiang">称号：{{ user.U_Honor}}</div>
        <div class="xinxizixiang">GP币：{{ user.U_GPB }}</div>
        <div class="xinxizixiang">签名：{{ user.U_Description }}</div>
      </div>
    </li>
        
        <a class="button1 as" id="helikes" href="/helikes/{{user.id}}/">我的点赞</a>
        <a class="button1 as" id="heasks" href="/heasks/{{user.id}}/">我的提问</a>
        <a class="button1 as" id="heanswers" href="/heanswers/{{user.id}}/">我的回答</a>
        <button class="button2 as">我的关注：{{ user.U_FollowUserNum }}</button>
    <script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(function () {
       $('#changeImage').bind("change", function () {
           if ($(this).prop('files')[0].type.indexOf("image") <= -1 ) {
               alert("请选择图片");
               return;
           }
           var formdata = new FormData();
           formdata.append("file", $(this).prop('files')[0]);
           console.log($(this).prop('files')[0]);
           $.ajax({
               url: "/ajax_change_image/",
               type: "POST",
               data: formdata,
               processData: false,
               contentType: false,
               success: function () {
                   window.location.href = window.location.href;
               }
           });
       })
    });

    $(function () {
        $('#saveNick').bind("click", function () {
            console.log("click");
            var newNick = $('#changeNick').val();
            if (newNick != "") {
                $.ajax({
                    url:'/ajax_change_nickname/',
                    type: 'POST',
                    data: {'newNick': newNick},
                    success: function () {
                        alert("修改成功");
                    }
                })
            }
        })
    });

    </script>
{% endblock %}