{% extends "base.html" %}

{% block title %}-登录{% endblock %}

{% block js %}

{% endblock %}

{% block content %}

    <h1>{{ user.U_name }}帖子详情</h1>

    <div class="form_row">
        <label><a href="/{{ source }}/">返回</a></label>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-xs-4 item">
            <div>
            <a href="/me/{{ bigpost.P_User.user.username }}">
            <img class="image" src="{{BASE_DIR}}/media/{{bigpost.P_User.U_Image}}"/>
            </a>
            </div>
            <div class="info">昵称：{{ bigpost.P_User.U_name}}</div>
            <div class="info">称号：{{ bigpost.P_User.U_Honor}}</div>
        </div>
        <div class="col-xs-8 item">
            <div class="name">{{ bigpost.P_Title }}</div>
            <div class="content" id="content_{{ bigpost.id }}">{{ bigpost.P_Content}}</div>
            {% if bigpost.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif bigpost.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif bigpost.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
            <div class="good info">点赞数：<span id="likeid">{{ bigpost.P_LikeNum}}</span></div>
            <div class="pull-right">
            {% if islike %}
            <input id="{{ bigpost.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="取消" onclick="javascript:likebtn(this)">
            {% else %}
            <input id="{{ bigpost.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="点赞" onclick="javascript:likebtn(this)">
            {% endif %}
            </div>
        </div>
    </div>
     </div>

{% for post in childrenposts %}
<div class="container child">
    <div class="row">
        <div class="col-xs-4 item">
            <div>
            <a href="/me/{{ post.P_User.user.username }}">
            <img class="image" src="{{BASE_DIR}}/media/{{post.P_User.U_Image}}"/>
            </a>
            </div>
            <div class="info">昵称：{{ post.P_User.U_name}}</div>
            <div class="info">称号：{{ post.P_User.U_Honor}}</div>
        </div>
        <div class="col-xs-8 item">
            <div class="name">{{ post.P_Title }}</div>
            <div class="content" id="content_{{ post.id }}">{{ post.P_Content}}</div>
            {% if post.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif post.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif post.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
            <div class="good info">点赞数：{{ post.P_LikeNum}}</div>
            <div class="pull-right">
            </div>
            {% if post.P_User == user%}
            <button id="{{ post.id }}" class="save-btn-default btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="javascript:deletepost(this)">删除</button>
            {% endif %}
        </div>
    </div>
    </div>

{% empty %}

{% endfor %}

{% if user.user.is_authenticated and not user.UForbidden%}
        <div style="text-align:left;font-size:20px;font-family:STKaiti;padding-top:15%" id="form_div_of_register">

<div class="reply">
	<hr>
    <label class="btn btn-default mybutton blue" for="fileImage">上传图片</label>
	<input id="fileImage" type="file" style="position:absolute;clip:rect(0 0 0 0);"/>
	<form method="POST" class="post-form" action=".">
		{% csrf_token %}
		<p>
            <label for="id_PContent">内容：</label>
        </p>
        <p>
            <textarea cols="90%" id="id_PContent" name="P_Content" rows="10"></textarea>
        </p>
        <button type="submit" class="save btn btn-default blue mybutton">回复</button>
	</form>
</div>

        </div>
{% endif %}
    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               确认
            </h4>
         </div>
         <div class="modal-body">

              删除

         </div>
         <div class="modal-footer">

             <a id="deleteid" href="/">确认删除</a>
            <button type="button" class="btn btn-default"
               data-dismiss="modal">取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


    <script type="text/javascript">
    function likebtn(obj) {
        console.log(obj)
        $.ajax
        ({
            url: '/like_post_deal/',
            type: 'POST',
            data: {'postID': obj.id},
            success: function(data) {

                if (obj.value == '取消') {
                obj.value = '点赞';
                    likedom = document.getElementById("likeid")
                    likedom.innerHTML = (parseInt(likedom.innerHTML) - 1).toString();
                }
                else {
                    obj.value = '取消';
                    likedom = document.getElementById("likeid")
                    likedom.innerHTML = (parseInt(likedom.innerHTML) + 1).toString();
                }
            }
        })
    }
    function deletepost(obj){
        idstr = obj.id

        deletedom = document.getElementById("deleteid")
        bid = {{ bigpost.id }}
        sourceid = "{{ source }}"
        restr = "/xpostdetail/"+bid+"/"+sourceid+"/delete_post/"+idstr+"/"
        deletedom.setAttribute("href",restr)
    }

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(function () {
        $('#fileImage').bind("change", function() {
        if ($(this).prop('files')[0].type.indexOf("image") <= -1) {
            alert("请选择图片！");
            return;
        }
        var formdata = new FormData()
        formdata.append("file",$(this).prop('files')[0])
        console.log($(this).prop('files')[0]);
        $.ajax({
            url: "/ajax_append_image/",
            type: "POST",
            data: formdata,
            processData: false,
            contentType: false,
            success: function(data, textStatus) {
                $("#id_PContent").val($("#id_PContent").val() + "__url_start__" + data + "__url_end__")
                alert("上传成功")
            }
        });
    })

    $(function () {
        var s = '{{ bigpost.P_Content|safe }}'
        p = s.match(/__url_start__(\S*?)__url_end__/)
        while (!(p === null)) {
            s = s.replace(p[0], "<img src='{{BASE_DIR}}/media/" + p[1] + "' />")
            p = s.match(/__url_start__(\S*?)__url_end__/)
            }
        $('#content_{{ bigpost.id }}').html(s)
        {% for post in childrenposts  %}
            var s = '{{ post.P_Content|safe }}'
            p = s.match(/__url_start__(\S*?)__url_end__/)
            while (!(p === null)) {
                s = s.replace(p[0], "<img src='{{BASE_DIR}}/media/" + p[1] + "' />")
                p = s.match(/__url_start__(\S*?)__url_end__/)
            }
        $('#content_{{ post.id }}').html(s)
        {% endfor %}
        });
    });
    </script>

</ul>

{% endblock %}


