{% extends "base.html" %}

{% block title %}-登录{% endblock %}

{% block content %}

    <h1>{{ user.U_name }}帖子详情</h1>

    <div class="form_row">
        <label><a href="/{{ source }}/">返回</a></label>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-xs-4 item">
            <div>
            <img class="image" src="{{BASE_DIR}}/media/{{bigpost.P_User.U_Image}}"/>
            </div>
            <div class="info">昵称：{{ bigpost.P_User.U_name}}</div>
            <div class="info">称号：邯郸学步</div>
        </div>
        <div class="col-xs-8 item">
            <div class="name">{{ bigpost.P_Title }}</div>
            <div class="content">{{ bigpost.P_Content}}</div>
            {% if bigpost.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif bigpost.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif bigpost.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
            <div class="good info">点赞数：<span id="likeid">{{ bigpost.P_LikeNum}}</span></div>
            <div class="pull-right">
            {% if islike %}
            <input id="{{ bigpost.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="取消" onclick="javascript:likebtn(this)">
            {% else %}
            <input id="{{ bigpost.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="点赞" onclick="javascript:likebtn(this)">
            {% endif %}
            </div>
        </div>
    </div>
     </div>

{% for post in childrenposts %}
<div class="container child">
    <div class="row">
        <div class="col-xs-4 item">
            <div>
            <img class="image" src="{{BASE_DIR}}/media/{{post.P_User.U_Image}}"/>
            </div>
            <div class="info">昵称：{{ post.P_User.U_name}}</div>
            <div class="info">称号：邯郸学步</div>
        </div>
        <div class="col-xs-8 item">
            <div class="name">{{ post.P_Title }}</div>
            <div class="content">{{ post.P_Content}}</div>
            {% if post.P_Type == 0 %}
                <div class="cat info">类别：普通贴</div>
            {% elif post.P_Type == 1%}
                <div class="cat info">类别：提问贴</div>
            {% elif post.P_Type == 2%}
                <div class="cat info">类别：笔记贴</div>
            {% endif %}
            <div class="good info">点赞数：{{ post.P_LikeNum}}</div>
            <div class="pull-right">
            </div>
            {% if post.P_User == user%}
            <button id="{{ post.id }}" class="save-btn-default btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="javascript:deletepost(this)">删除</button>
            {% endif %}
        </div>
    </div>
    </div>

{% empty %}

{% endfor %}

        <div style="text-align:left;font-size:20px;font-family:STKaiti;padding-top:15%" id="form_div_of_register">
            <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}

              <input type="submit" value="提交" />
            </form>
        </div>

    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               确认
            </h4>
         </div>
         <div class="modal-body">

              删除

         </div>
         <div class="modal-footer">

             <a id="deleteid" href="/">确认删除</a>
            <button type="button" class="btn btn-default"
               data-dismiss="modal">取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


    <script type="text/javascript">
    function likebtn(obj) {
        console.log(obj)
        $.ajax
        ({
            url: '/like_post_deal/',
            type: 'POST',
            data: {'postID': obj.id},
            success: function(data) {

                if (obj.value == '取消') {
                obj.value = '点赞';
                    likedom = document.getElementById("likeid")
                    likedom.innerHTML = (parseInt(likedom.innerHTML) - 1).toString();
                }
                else {
                    obj.value = '取消';
                    likedom = document.getElementById("likeid")
                    likedom.innerHTML = (parseInt(likedom.innerHTML) + 1).toString();
                }
            }
        })
    }
    function deletepost(obj){
        idstr = obj.id

        deletedom = document.getElementById("deleteid")
        bid = {{ bigpost.id }}
        sourceid = "{{ source }}"
        restr = "/xpostdetail/"+bid+"/"+sourceid+"/delete_post/"+idstr+"/"
        deletedom.setAttribute("href",restr)
    }
    </script>

</ul>

{% endblock %}


